# Server Port (defaults to 5000 if not set)
PORT=5000

# Database Connection
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/?appName=AppName

# Email SMTP Credentials (for sending auto-replies and notifications)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587 
SMTP_SECURE=false

EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
ADMIN_EMAIL=admin-email@gmail.com

# RAZORPAY
RAZORPAY_KEY_ID=rzp_test_your_key_id
RAZORPAY_KEY_SECRET=your_key_secret

# WhatsApp Cloud API (Optional)
WHATSAPP_API_TOKEN=your_meta_business_whatsapp_token
WHATSAPP_PHONE_NUMBER_ID=your_whatsapp_phone_number_id
WHATSAPP_API_VERSION=v17.0
